/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-04-2017, 09:14:02
    Author     : magnu
*/
body {
    background-color: #000000;
    text-align: center;
}
h1 {
    color:#20C20E;
    font-family: Monospace, Arial;
    font-weight: bold;
}
p {
    color:#20C20E;
    margin-bottom: 2px;
    font-family: Monospace, Arial;
    font-weight: bold;
    font-size: 20px;
    
}

p2 {
    color:#20C20E;
    margin-bottom: 2px;
    font-family: Monospace, Arial;
    font-weight: bold;
    font-size: 30px;
    
}

#input2 {
    margin-bottom: 10px
}


input {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Monospace, Arial;
  color: #ffffff;
  font-size: 20px;
  background: #42d934;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input:hover {
    background: #3cfc3c;
    text-decoration: none;
}

table {
    color: #20C20E;
    font-family: Monospace, Arial;
    font-size: 20px;
}

/*td {
    color: #ffffff;
}

th {
    color: #ffffff;
}
tr {
    color: #ffffff;
}

sql {
    color: #ffffff;
}*/
